html,
body {
  height: 100%;
  margin: 0;
}
body {
  font-family: "Plus Jakarta Sans", sans-serif;
  display: flex !important;
  flex-direction: column;
  min-height: 100vh;
}

.container-fluid {
  flex: 1 !important;
}

.navbar {
  height: 5rem;
  background-color: white;
}
.navbar-brand {
  display: flex;
  align-items: center;
}
.fa-compass {
  color: #fe424d;
  font-size: 2rem;
  display: inline;
}
.wander-lust {
  color: #fe424d;
  font-weight: 800;
}
.nav-link {
  color: #222222 !important;
}
.f-info-links a {
  text-decoration: none;
  color: #222222;
}
.f-info-links a:hover {
  text-decoration: underline;
}
.f-info-socials,
.f-info-links,
.f-info-brand {
  width: 100%;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.f-info-socials i {
  margin-right: 1rem;
}

.f-info {
  height: 8rem;
  background-color: #ebebeb;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: space-evenly;
  text-align: center;
}

/* Cards */

.listing-card {
  border: none !important;
  margin-bottom: 2rem;
  margin-right: 7px;

  transition: 0.3s;
}
.listings-container {
  display: flex;
  flex-wrap: wrap;
}
.card-img-top {
  border-radius: 1rem;
  width: 100%;
  object-fit: cover;
  height: 20rem;
}
.card-body {
  padding: 0;
}
.card-text {
  font-weight: 400 !important;
}
.listing-link {
  text-decoration: none;
  color: black;
}
.frontpg:hover {
  opacity: 0.7;
  box-shadow: 2px 2px 8px black;
}

.card-img-overlay {
  font-size: 23px;
  right: 0.5rem;
  top: 0.5rem;
  left: auto;
  padding: 0;
}
.card-img-overlay {
  font-size: 27px;
  height: fit-content;
}
.listing-card {
  width: 20rem;
}
@media (min-width: 200px) and (max-width: 685px) {
  .listing-card {
    width: 9rem;
    margin-right: 1rem;
  }
  .card-img-top {
    height: 10rem;
  }
  .card-title {
    font-size: 0.9rem;
    margin-bottom: 0;
  }
  .card-price {
    font-size: 0.7rem;
  }
  .tax-info {
    font-size: 0.7rem;
  }
}

@media (min-width: 768px) and (max-width: 1027px) {
  .listing-card {
    width: 20rem;
    margin: 2rem;
  }
  .arctic {
    display: none;
  }
}

.showpg {
  /* width: 100%; */
  height: 30vh;
  width: 90%;
}
.mapboxgl-canvas {
  border-radius: 1rem;
}
.searchpg {
  height: 30vh;
  width: 50vh;
}
.btns {
  display: flex;
}
.edit-btn {
  height: 39px;
  width: 5rem;
}
.delete-btn {
  background-color: #fe424d;
  border: none;
}
/* filter options */
#filters {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.filter {
  text-align: center;
  margin-right: 2rem;
  margin-top: 2rem;
  opacity: 0.7;
}
.filter:hover {
  opacity: 1;
  cursor: pointer;
}
.filter p {
  font-size: 0.8rem;
}
.tax-info {
  display: none;
}
.tax-toggle {
  border-radius: 0.8rem;
  border: 1px solid black;
  height: 3.24rem;
  padding: 1rem;
  margin-left: 2rem;

  position: relative;
}
/* dropdown */
.dropdown .btn {
  border-radius: 0.8rem;
  font-size: 0.8rem;
}
.dropdown-menu {
  max-height: 300px;
  width: 170px;
  overflow-y: auto;
  scrollbar-width: thin;
}
.newtax {
  border-radius: 0.8rem;
  border: 1px solid black;
  padding: 0.5rem;
  display: none;
  margin-left: 2rem;
  /* margin-top: 0.5rem; */
  height: 1rem;
  width: auto;
  box-sizing: unset;
}
@media (min-width: 200px) and (max-width: 991px) {
  .newtax {
    display: flex;
    align-items: center;
  }
}

.optionss {
  display: flex;
  justify-content: space-between;
}
/* map */
#map {
  height: 400px;
  width: 100%;
}
#originalImage {
  margin-top: 5px;
  height: 200px;
  width: 50vh;
}

.search-btn {
  background-color: #fe424d;
  color: #fff;
  border-radius: 25px;
  padding: 0 1rem 0 1rem;
}
.search-btn:hover {
  background-color: #fe424d;
  color: #fff;
}
.search-btn i {
  display: inline;
  margin-right: 0.5rem;
}
.search-inp {
  border-radius: 25px;
  padding: 0.5rem 3rem 0.5rem 3rem;
}
@media (min-width: 0px) and (max-width: 835px) {
  .search-inp {
    padding: 0.2rem 1rem 0.2rem 1rem;
    font-size: 0.8rem;
    margin-left: 0;
  }
}
